<div class="container">
    <footer>
        <div class="row">
            <div class="col-sm-6">
                <div class="footer-text">
                    <h4>Site</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ratione repudiandae magni nisi odit impedit voluptas. Soluta illo molestiae accusantium quisquam rerum sunt aspernatur dignissimos dicta, in nostrum eum, aperiam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam, optio enim ipsam culpa necessitatibus rem magnam maxime placeat saepe, magni voluptates, unde ipsum doloremque hic vel eius, doloribus iste.</p>
                    <p>Welcome!!!</p>
                </div>
            </div>   
            <div class="col-sm-6">
                <div class="footer-nav-block">
                    <h4>Navigation</h4>
                    <nav class="navigation-footer">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/">Create Post</li>
                            <li><a href="/"><img src="/images/facebook.png"></a></li>
                            <li><a href="/"><img src="/images/twitter.png"></a></li>
                            <li><a href="/"><img src="/images/youtube.png"></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</div>
