<header>
    <div class="block">
        <div class="icon-block">
            <a href="#"><img src="/images/facebook.png"></a>
            <a href="#"><img src="/images/twitter.png"></a>
            <a href="#"><img src="/images/youtube.png"></a>
        </div>
        <div class="group-info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptatibus voluptates a, blanditiis numquam at dolore nemo. Magnam natus officia asperiores beatae iste. Tenetur autem veritatis earum repudiandae maxime, animi.</p>
        </div>
    </div>
</header>
<div class="blog-panel"></div>

